/* color palette from <https://github.com/vuejs/theme> */

body {
  margin: 0;
  min-height: 100vh;
  color: white;
  /* background: linear-gradient(89.7deg, rgb(0, 0, 0) -10.7%, rgb(53, 92, 125) 88.8%); */
  background: #414a4c;
  font-size: 15px;
  /* font-family: sans-serif; */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
